.post_container {
  text-align: center;
}

.post_container h1 {
  margin: 15px 0;
}

.post_container img {
  max-width: 80vw;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}